.explore-container {
    display: flex;
    width: 100%;
    height: 670px;
    background: #FCF8F3;
    overflow: hidden;
}

.explore-content {
    width: 35%;
    margin-left: 100px;
    margin-top: 222px;
}

.explore-content h1 {
    color: var(--Color-Gray-1, #3A3A3A);
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.explore-content p {
    margin-top: 10px;
    width: 368px;
    color: var(--Color-Gray-2, #616161);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}

.explore-btn {
    width: 176px;
    height: 48px;
    margin-top: 25px;
    background: var(--Primary, #B88E2F);
    border: none;
    color: var(--Color-White, #FFF);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    transition: all .2s ease-in-out;
}

.explore-btn:hover {
    background: none;
    color: #B88E2F;
    border: 2px solid #B88E2F;
}

.explore-products {
    position: relative;
    width: 65%;
    display: flex;
    overflow: hidden;
}

.explore-slider {
    position: absolute;
    width: max-content;
    height: 100%;
    display: flex;
    margin-top: 44px;
    gap: 24px;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.explore-slider-item {
    width: 372px;
    height: 482px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.explore-slider-item.active {
    width: 404px;
    height: 582px;
    transition: all 0.5s ease-in-out;
}

.explore-slider-item img {
    width: 100%;
    height: 100%;
    margin-right: 24px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.explore-slider-controls {
    position: absolute;
    bottom: 68px;
    left: 24px;
    width: 216px;
    height: 130px;
}

.explore-slider-img-name {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(1.5px);
    text-align: left;
    padding: 32px;
}

.explore-slider-img-name h2 {
    display: flex;
    align-items: center;
    color: var(--Color-Gray-2, #616161);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 8px;
}

.explore-slider-img-name h2 svg {
    width: 27px;
    height: 2px;
    margin: 2px 6px 0;
    stroke: var(--Color-Gray-2, #616161);
}

.explore-slider-img-name h1 {
    color: var(--Color-Gray-1, #3A3A3A);
    font-size: 28px;
    font-weight: 600;
    line-height: 120%;
}

.explore-slider-btn {
    position: absolute;
    bottom: 0;
    right: -48px;
    width: 48px;
    height: 48px;
    background: var(--Primary, #B88E2F);
    border: none;
}

.explore-slider-btn:hover {
    background: var(--Primary-Light, #D4B257);
}

.explore-slider-btn svg {
    width: 24px;
    height: 24px;
}

.explore-slider-dots-control {
    position: absolute;
    bottom: 72px;
    left: 428px;
}

.explore-slider-dots {
    display: flex;
    align-items: center;
}

.explore-slider-dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: var(--Color-Gray-2, #616161);
    margin: 0 20px 0 0;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.explore-slider-dots li.active {
    width: 10px;
    height: 10px;
    box-sizing: content-box;
    background-clip: content-box;
    padding: 8px;
    background-color: var(--Primary, #B88E2F);
    border: 1px solid var(--Primary, #B88E2F);
}